.nav {
  height: 100px;
  background-color: skyblue;
  color: #fff;
  line-height: 100px;
}

.head {
  /* height: 64px; */
  border-bottom: 1px solid #c7c4c5;
  box-shadow: 0 1px 3px #d8d7d7;
  /* background: url('../image/vip-bgs.png') repeat-x; */
}

.head .vip-header {
  /* height: 64px; */
}

.head .vip-header .vip-logo {
  /* margin: 17px 18px 6px; */
}

.head .vip-header .navbar-toggler {
  width: 15px;
  height: 15px;
  background: url('../image/icon/zhankai.png') no-repeat;
  background-size: cover;
  display: none;
  text-align: center;
}

.collapse {
  /* width: 20px;
  height: 20px; */
  /* border: 1px solid; */
  width: 50%;
  /* background: url('../image/icon/zhankai.png') no-repeat; */
}


@media screen and (max-width: 768px) {
  .collapse {
    /* width: 20px;
    height: 20px;
    border: 1px solid; */
    width: 100%;
    /* background: url('../image/icon/zhankai.png') no-repeat; */
  }

  .head .vip-header .navbar-toggler {
    width: 15px;
    height: 15px;
    background: url('../image/icon/zhankai.png') no-repeat;
    background-size: cover;
    display: block;
    float: right;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
  }
}

.head .vip-header .vip-logo a {
  display: block;
  text-indent: -9999px;
  width: 191px;
  height: 35px;
  background: url('../image/vip-logo.png') 0 70% no-repeat;
}

.head .vip-header .top-links {
  text-align: center
    /* height: 30px; */
    /* margin: 17px 7px; */
}

.head .vip-header .top-links a {
  display: block;
  line-height: 30px;
  margin: 0 15px;
  color: #686868;
}

.head .vip-header .top-links a:hover {
  color: #0b68c8;
}

.w1140 {
  width: 1140px;
}

#re_header {
  font-size: 20px;
}

#re_header .navbar-brand {
  padding-left: 2%;
  color: #000;
  font-size: 23px;
  font-weight: bold;
}

#re_header .navbar-brand span {
  vertical-align: middle;
}

#re_header .navbar-brand img {
  border: 2px solid #afc8ff;
  border-radius: 50%;
}

#re_header .navbar-toggler {
  border: 2px solid #afc8ff;
}

#re_header .navbar-nav {
  padding-right: 0;
}

#re_header .navbar-nav .nav-link {
  color: #000;
}

#re_header .container-md {
  justify-content: flex-end;
}

#re_header .container-md .nav-item {
  margin-left: 10px;
}